/* GLOBAL STYLING */

* {
  margin: 0;
}

body {
  --slack-color: #3f0f40;
  overflow: hidden;
}

/* MAIN STYLING */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: var(--slack-color);
  color: #fff;
}

.header__left {
  display: flex;
  flex: 0.3;
  align-items: center;
  margin-left: 20px;
}

.header__left > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 30px;
}

.header__search {
  flex: 0.4;
  background-color: #421f44;
  text-align: center;
  display: flex;
  padding: 0px 50px;
  color: gray;
  border: 1px solid gray;
  border-radius: 6px;
}

.header__search > input {
  background-color: transparent;
  border: none;
  text-align: center;
  min-width: 35vw;
}

.header__right {
  display: flex;
  flex: 0.3;
  align-items: flex-end;
}

.header__right > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 20px;
}

.sidebar {
  background-color: var(--slack-color);
  border-top: 1px solid #49274b;
  max-width: 260px;
  color: #fff;
  flex: 0.3;
}

.sidebar__header {
  display: flex;
  border-bottom: 1px solid #49274b;
  padding: 13px;
}

.sidebar__header > .MuiSvgIcon-root {
  padding: 8px;
  color: #49274b;
  font-size: 18px;
  background-color: #fff;
  border-radius: 999px;
}

.sidebar__info {
  flex: 1;
}

.sidebar__info > h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}

.sidebar__info > h3 {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}

.sidebar__info > h3 > .MuiSvgIcon-root {
  font-size: 14px;
  margin-top: 1px;
  margin-right: 2px;
  color: green;
}

.sidebarOption {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.sidebarOption:hover {
  opacity: 0.9;
  background-color: #340e36;
}

.sidebarOption__icon {
  padding: 10px;
  font-size: 15px !important;
}

.sidebarOption__channel {
  padding: 10px 0;
}

.sidebarOption__hash {
  padding: 10px;
}

.sidebarOption > h3 {
  font-weight: 500;
}

.sidebar > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #49274b;
}

.App__body {
  display: flex;
  height: 100vh;
}

.chat {
  flex: 0.7;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 150px;
}

.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.chat__channelName {
  display: flex;
  text-transform: lowercase;
}

.chat__channelName > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 18px;
}

.chat__headerRight > p {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.chat__headerRight > p > .MuiSvgIcon-root {
  margin-right: 5px !important;
  font-size: 16px;
}

.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.message__timestamp {
  color: gray;
  font-weight: 300;
  font-size: 13px;
}

.message__info {
  padding-left: 10px;
}

.login {
  height: 100vh;
  background: #f8f8f8;
  display: grid;
  place-items: center;
}

.login__container {
  padding: 100px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
}

.login__container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}

.login__container > button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: #0a8d48 !important;
  color: #fff;
}

.chatInput {
  border-radius: 20px;
}

.chatInput > form {
  position: relative;
  display: flex;
  justify-content: center;
}

.chatInput > form > input {
  position: fixed;
  bottom: 30px;
  width: 60%;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid gray;
}

.chatInput > form > button {
  display: none !important;
}

/* KEYFRAME */

/* RESPONSIVE */
